$navbar-default-bg: #00009a;

@import "bootstrap-sprockets";
@import "bootstrap";

.navbar-default .navbar-nav > li > a {
    color: #ddd;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #fff;
    text-weight:bold;
}

#logo {
    float: left;
    font-size: 1.7em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -px;
    font-weight: bold;
}

#logo.hover {
    color: #fff;
    text-decoration: none;
}

.center {
    text-align: center;
}

.jumbotron {
    background-image: asset-url('calskycut.jpg');
    background-size: cover;
    height: 450px;
}


.jumbotron h1 {
    color: #00009a;
    text-align: center;
    margin-top: -40px;
    margin-bottom: 30px;
    letter-spacing: -1px;
    font-weight: bold;
}

.footer {
    margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid #eaeaea;
    color:#777;
}

.footer a:hover {
    color: #222;
}

.footer small {
    float: left;
}

.footer ul {
    float: right;
    list-style: none;
}

.footer ul li {
    float: left;
    margin-left: 15px;
}
.listing {
    padding-left: 0;
    list-style: none;
}


.article-meta-details {
    border-top: 1px solid #eaeaea;
    margin-top: 15px;
}
.article-actions {
    border-top: 1px solid #eaeaea;
    padding-top: 5px;
}

.article-title {
    font-weight: bold;
    font-size: 1.5em;
}

.article-body {
    border-top: 1px solid #eaeaea;
    padding-top: 15px;
    padding-bottom: 15px;
}


.description {
    margin-top: 0;
}