<div class="container">
    <footer class = "footer">
        <small>
            Copyrigth &copy; <a href="www.caleradreams.com">Alpha Blog</a>
            by <a href="mailto:a_barajas_c@hotmail.com">Adrian Barajas</a>
        </small>
        <nav>
            <ul>
                <li><%= link_to "About",welcome_about_path %></li>
            </ul>
        </nav>
    </footer>
</div>